* {
  margin: 0;
  padding: 0;  
}

html,body {
    height: 100%;
    font-family: 'Muli', sans-serif;
    background-color: #E5E5E5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #E5E5E5;
    height: 100%;
}

div#left-container {
    width: 608px;
    height: 608px;
    /* need white */
    background-color: #ffffff;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    position: relative;
    -webkit-box-shadow: 0px 8px 7px -1px rgba(250,203,250,0.52);
    -moz-box-shadow: 0px 8px 7px -1px rgba(250,203,250,0.52);
    box-shadow: 0px 8px 7px -1px rgba(250,203,250,0.52);
}

div#right-container{
    background-image: url('resources/water.jpg');
    width: 449px;
    height: 608px;
    flex-shrink: 6;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

div#right-container img {
    flex-shrink: 6;
}

p#log-in-heading {
    font-family: 'Rokkitt',serif;
    font-style: normal;
    font-weight: bolder;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
    margin-left: 35px;
    margin-top: 30px;
}

p#log-in-text {
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 41px;
    display: block;
    left:25px;
    top: 45px;
    position: absolute;
    margin-left: 12px;
    margin-top: 25px;
}

input {
    text-align: center;
    color: #717A91;
    width: 505px;
    height: 40px;
    margin-left: 35px;
    margin-top: 80px;
    font-family: Muli;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    border-radius: 5px;
    line-height: 20px;
    border-color: #717A91;
}

a {
    color: #0C6787;
}

p#forgot-password {
    line-height: 20px;
    margin-left: 35px;
    margin-top: 25px;
}

a#forgot-anchor {
    text-decoration: none;
}

a#next-anchor {
    text-decoration: none;
    color: #ffffff;
}

p#log-in-with {
    font-family: 'Muli',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
}

a#log-in-anchor{
    text-decoration: none;
    color: #838A9E;
}

a#sign-up {
    font-family: 'Muli',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #046586;
}

button#next-button{
    color: #ffffff;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    border-radius: 5px;
    background-color: #046586;
    padding: 15px;
    margin-left: 450px;
    margin-top: -25px;
    border: none;
    -webkit-box-shadow: 0px 8px 7px -1px rgba(80, 226, 248, 0.32);
    -moz-box-shadow: 0px 8px 7px -1px rgba(80, 226, 248, 0.32);
    box-shadow: 0px 8px 7px -1px rgba(80, 226, 248, 0.32);
}

hr {
    width: 505px;
    color: #CAD6E4;
    margin-left: 35px;
    margin-top: 40px;
}

button.fg-button {
    background: #FFFFFF;
    border: 1px solid #CAD6E4;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

a#facebook {
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 15px;
}

a#google-anchor{
    display: block;
    text-decoration: none;
    color: #000000;
    margin-bottom: 15px;
    width: 58px;
    height: 49px;
}

p#facebook {
    display: block;
}

p#google {
    display: block;
}

button.facebook-button  {
    margin-left: 180px;

}

img#facebook-image {
    margin-top: 25px;
}

button.google-button {
    margin-left: 50px;
} 

p#sign-up-para {
    text-align: center;
    margin-top: 105px;
}

div#right-container img{
    margin-left: 380px;
    margin-top: 20px;
}

span.dot {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    background: rgba(255, 255, 255, 0.65);
    display: block;
    margin-left: 380px;
    margin-top: -35px;
}














